<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rgks_rear.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rgks_rear.pojo.Comment">
        <id column="comment_id" property="commentId" />
        <result column="content" property="content" />
        <result column="reply_id" property="replyId" />
        <result column="receive_id" property="receiveId" />
        <result column="comment_type" property="commentType" />
        <result column="exercise_id" property="exerciseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, content, reply_id, receive_id,comment_type,exercise_id
    </sql>

</mapper>
