<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rgks_rear.mapper.ExerciseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.rgks_rear.pojo.Exercise">
        <id column="exercise_id" property="exerciseId" />
        <result column="title" property="title" />
        <result column="teacher_id" property="teacherId" />
        <result column="url" property="url" />
        <result column="content" property="content" />
        <result column="student_id" property="studentId" />
        <result column="is_finished" property="isFinished" />
        <result column="is_deleted" property="isDeleted" />
        <result column="type_of_code" property="typeOfCode" />
        <result column="code" property="code" />
        <result column="create_time" property="createTime" />
        <result column="modified_time" property="modifiedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        exercise_id, title, teacher_id, url, content, student_id, is_finished, is_deleted, type_of_code, code, create_time, modified_time
    </sql>

</mapper>
