<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.rgks_rear.dao.ExerciseMapper">

    <resultMap id="BaseResultMap" type="com.xymall.baby.entity.User">
        <id column="id" jdbcType="INTEGER" property="userId" />
        <result column="username" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="active" jdbcType="BOOLEAN" property="active" />
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
<!--    <select id="login" resultMap="BaseResultMap" >-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from user-->
<!--        where username=#{userName} and password=#{password} and active=true;-->
<!--    </select>-->
    <sql id="Base_Column_List">
        id,comment_type,reply_id,receive_id
    </sql>
    <insert id="insertExercise">
        insert into user(username,password,email,verifyCode,active) values (#{userName},#{password},#{email},null,true);
    </insert>

    <insert id="insertSelective" parameterType="com.example.rgks_rear.entity.Exercise">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                id,
            </if>
            <if test="userName != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="active != null">
                active,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="active != null">
                #{active,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

</mapper>
